{% extends 'products/base.html' %}
{% load url_page_tag %}

{% block title %}{{page_name}}{% endblock title %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="text-center">
                                        <a class="btn btn-primary" href="{% url 'basket' %}">Basket</a>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="text-center">
                                        <a class="btn btn-primary" href="{% url 'logout' %}">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="filter-bar">
                                <form action="{% url 'index' %}" method="get">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <button type="submit" class="btn btn-primary">search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
           <div class="products-block container mt-2 mb-2">
                <div class="list-products-block pb-2 mx-auto">
                    <div class="row row-cols-3">
                        {% for product in products %}
                            <div class="card ms-2 mb-2" style="width: 19rem;">
                                {% csrf_token %}                                    
                                {% if product.image_url %}
                                    <img class="card-img-top" src="{{product.image_url}}" alt="Card image cap">
                                {% else %}
                                    <img class="card-img-top" src="..." alt="Card image cap">
                                {%endif%}
                                <div class="card-body">
                                    <h5 class="card-title">{{product.category|title}} {{product.name}}</h5>
                                    <p class="card-text">{{product.summary}}</p>
                                    <p>Price:{{product.price}}$</p>
                                    <div class="row">
                                        <div class="col-sm">
                                            <a href="{{ product.absolute_url }}" class="btn btn-info">more</a>
                                        </div>
                                        <div class="col-sm">
                                            <form method="post" action="{% url 'add_product' %}">
                                                {% csrf_token %}     
                                                <input hidden="true" name="product_name" readonly="true" value="{{product.name}}">
                                                <button type="submit" class="btn btn-primary">Add in basket</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor products %}
                    </div>
                </div>
                <div class="pagination-block ms-2 mt-2">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">Previous</a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.number %}">{{ page_obj.number }}</a></li>
                            <li class="page-item"><a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">Next</a></li>
                        {% endif %}
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock content %}