{% extends 'base.html' %}
{% block title %}{{page_name}}{% endblock title %}
{% block content %}
    <table class = "table table-dark table-hover">
        <thead>
            <tr>
            {% for attribute in attributes %}
                <th>{{attribute}}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    {% for key,value in product.items %}
                        <td>{{value}}</td>
                    {% endfor%}
                    <td><a href = {% url "product['slug']" %} type="button" class="btn btn-primary">View</a></td>
                </tr>
            {% endfor products %}
        </tbody>
    </table>
    
{% endblock content %}